<!DOCTYPE html>
<html>

<head>
    <title>Issue Patrol</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        window.onbeforeunload = function () {
            localStorage.setItem(issue_state, $('#issue_state').val());
            localStorage.setItem(repo, $('#repo').val());
            localStorage.setItem(sortTasks, $('#sortTasks').val());
            localStorage.setItem(page_limit, $('#page_limit').val());
        }

        google.charts.load('current', { 'packages': ['gantt'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Task ID');
            data.addColumn('string', 'Task Name');
            data.addColumn('string', 'Resource');
            data.addColumn('date', 'Start Date');
            data.addColumn('date', 'End Date');
            data.addColumn('number', 'Duration');
            data.addColumn('number', 'activity');
            data.addColumn('string', 'Dependencies');

            //<a href="https://github.com/githubcustomers/JPMC/issues/{{this.id}}">
            //    ['<id>', '<title>, '<resource>', new Date(2011, 2, 22), new Date(2014, 5, 20), null, <done>, null],
            data.addRows([
                {{#each issues}}
                    ['{{this.id}}', '#{{this.id}} - {{this.title}}', '{{this.state}}', new Date({{ this.start }}), new Date({{ this.end }}), null, {{ this.done }}, null],
                {{/each}}
            ]);

            var options = {
                height: {{{ height }}},
                gantt: {
                    labelMaxWidth: 500,
                        sortTasks: {{{sortTasks}}},
                    labelStyle: {
                        fontSize: 14,
                            },
                    trackHeight: 30,
                        percentStyle: { fill: '#000000' },
                    innerGridHorizLine: { strokeWidth: 1 }
                }
            };

        var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
        chart.draw(data, options);
        }
    </script>
    <style>
        div.scroll {
            height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container"><br>
        <div id="init" class="jumbotron">
            <p>Issue Patrol</p>
            <div>
                <form action=".">
                    <input type="text" name="repo" value="{{repo}}" placeholder="Provide a Repo name"><br>
                    <input type="radio" id="all" name="issue_state" value="all" {{checked_all}}>
                    <label for="all">All</label>
                    <input type="radio" id="open" name="issue_state" value="open" {{checked_open}}>
                    <label for="open">Open</label>
                    <input type="radio" id="closed" name="issue_state" value="closed" {{checked_closed}}>
                    <label for="closed">Closed</label><br>
                    <input type="number" name="page_limit" value="{{page_limit}}" placeholder="# of issues (max 100)"><br>
                    <div>
                        <input type="checkbox" id="sortTasks" name="sortTasks" {{checked_reverse}} >
                        <label for="scales">Reverse order</label>
                    </div>
                    <br>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </form>
            </div>
        </div>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <div id="chart_div"></div>
    </div>
</body>

</html>