<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Issue Patrol</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="tree-boxes.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="tree-boxes.js" type="text/javascript"></script>
    <script>
        const org = "{{org}}"

        // Support for the Header bar
        // --------------------------------------------------
        window.addEventListener("load", function () {
            document.getElementById('_category').style.color = 'Aqua';
        })

        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
  </head>
  <body>
    <div class="container">
        {{{header}}}
    </div>
    <div class="container">
      <div id="init" class="jumbotron">
        <p>Issue Category</p><br><br>
        <div>
          <input type="text" id="org" name="org" value="{{org}}" placeholder="Provide an Org name"><br>
          <input type="text" id="repo" name="repo" value="{{repo}}" placeholder="Provide a Repo name"><br>
          <input type="radio" id="all" name="issue_state" value="all" {{checked_all}}>
          <label for="all">All</label>
          <input type="radio" id="open" name="issue_state" value="open" {{checked_open}}>
          <label for="open">Open</label>
          <input type="radio" id="closed" name="issue_state" value="closed" {{checked_closed}}>
          <label for="closed">Closed</label><br>
          <input type="number" name="page_limit" value="{{page_limit}}"placeholder="# of issues (max 100)"><br>
        </div>
      </div>
      <div class="container center-screen">
        <div id="tree-container">
          <script>
              d3.json("data-example.json", function(error, json) {
                  treeBoxes('', json.tree);
              });
          </script>
        </div>
      </div>
    </div>
  </body>
</html>